@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form class="form-inline" asp-page="/Customers/Details" asp-page-handler="search"  method="post">
    <div class="input-group rounded">
        <input name="search" type="search" class="form-control rounded" placeholder="Customer Number" aria-label="Go to customer" aria-describedby="search-addon" />
    </div>
</form>
