<div class="input-group rounded mb-2">
    <input type="search" class="form-control rounded"
           placeholder="Search"
           @onkeyup="HandleSearch"
           @bind:event="oninput"
           @bind="@Search"
           aria-label="Search" />
</div>
@code {
    private Timer _timerObj = null!;
    private string? Search { get; set; }
    [Parameter]
    public EventCallback<string> OnSearchDone { get; set; }

    private Task HandleSearch()
    {
        _timerObj.Stop();
        _timerObj.Start();
        return Task.CompletedTask;
    }

    private void OnSearchFinished(object source, ElapsedEventArgs e)
    {
        InvokeAsync(() =>
        {
            OnSearchDone.InvokeAsync(Search);
        });
    }

    protected override Task OnInitializedAsync()
    {
        _timerObj = new Timer(300);
        _timerObj.Elapsed += OnSearchFinished!;
        _timerObj.AutoReset = false;
        return base.OnInitializedAsync();
    }
}
